<!DOCTYPE HTML>

<html>
	<head>
		<title>Save A Life</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>
		<!-- Page Wrapper -->
			<div id="page-wrapper">
	<!-- Header -->
		<header id="header" >
			<h1><a href="index.html">Save A Life</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="generic.html">Anatomy</a></li>
								<li><a href="elements.html">First Aid</a></li>
								<li><a href="baymax.glitch.me">Baymax</a></li>


							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

	<body>
		<!-- Main -->
			<article id="main">
				<header>
					<h2>First Aid</h2>
					<p>What to Do If.... </b> someone is bleeding</p>
				</header>
				<section class="wrapper style5">
					<div class="inner">

						<section>


							<h5><b> 1 // Remove any obvious dirt or debris from the wound.</h5>
								<p>Don't remove large or deeply embedded objects. Don't probe the wound or attempt to clean it yet. Your first job is to stop the bleeding. Wear disposable protective gloves if available.</p>
							<hr />
							<h5><b> 2 // Stop the bleeding.</h5></b>
							<p>Place a sterile bandage or clean cloth on the wound. Press the bandage firmly with your palm to control bleeding. Maintain pressure by binding the wound tightly with a bandage or a piece of clean cloth. Secure with adhesive tape. Use your hands if nothing else is available.</p>
							<hr/>
							<h5><b> 3 // Don't remove the gauze or bandage.</b></h5>
							<p>If the bleeding seeps through the gauze or other cloth on the wound, add another bandage on top of it. And keep pressing firmly on the area.</p>
							<hr />
							<h5><b> 4 // Immobilize the injured body part once the bleeding has stopped. </b></h5>
							<p>Leave the bandages in place and get the injured person to the emergency room as soon as possible.<br>

								Call 911 or your local emergency number if the bleeding is the result of major trauma or injury. Also call for emergency help if you suspect internal bleeding. Signs of internal bleeding include:<br>

								Bleeding from a body opening, such as the ear, mouth or nose<br>
								Vomiting or coughing up blood<br>
								Bruising<br>
								A tender or swollen stomach<br>
								Cold, clammy skin<br>
								Thirst<br>
								Fractures<br>
								Shock, indicated by a rapid, weak pulse, pallor, sweating, rapid breathing and decreased alertness</p>
								<hr/>
								<!-- Footer -->
									<footer id="footer">
										<ul class="icons">
											<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
										</ul>
										<ul class="copyright">
											<li>&copy; Brenna & Angkana All Rights Reserved 2017</a></li>
										</ul>
									</footer>

								</div>

								<!-- Scripts -->
								<script src="assets/js/jquery.min.js"></script>
								<script src="assets/js/jquery.scrollex.min.js"></script>
								<script src="assets/js/jquery.scrolly.min.js"></script>
								<script src="assets/js/skel.min.js"></script>
								<script src="assets/js/util.js"></script>
								<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
								<script src="assets/js/main.js"></script>

								</body>
								</html>
