<!DOCTYPE HTML>
<html>
	<head>
		<title>Save a Life</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />

	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">Save A Life</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="../index.html">Home</a></li>
											<li><a href="/templates/hospitals.html">Hospitals</a></li>
											<li><a href="/templates/firstaid.html">First Aid</a></li>
											<li><a href="../templates/baymax.html">Baymax</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>First Aid</h2>
							<p>What to Do</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<section>
									<h4><b>1 // Before administering care to an ill or injured person, check the scene and the person. Size up the scene and form an initial impression</b></h4>
									<p>Pause and looks at the scene and the person before responding. Answer the following questions: <br>

										- Is the scene safe to enter?<br>

										- What happened?<br>

										- How many people are involved?<br>

										- What is my initial impression about the nature of the person’s illness or injury? Does the person have any life-threatening conditions, such as severe, life-threatening bleeding?<br>

										- Is anyone else available to help?<br>
									<hr />

									<h4><b>2 // If the Person is awake and Responsive and there is no severe life-threatening bleeding:</b></h4>
									<p>- Obtain consent: Tell the person your name, describes type and level of training, states what you thinks is wrong and what you plans to do, and asks permission to provide care.<br>

										- Tell a bystander to get the AED and first aid kit: Point to a bystander and speak out loud.<br>

										- Use appropriate PPE: Put on gloves, if available.<br>

										- Interview the person: Uses SAMPLE questions to gather more information about signs and symptoms, allergies, medications, pertinent medical history, last food or drink and events leading up to the incident.<br>

										- Conduct a head-to-toe check: Check head and neck, shoulders, chest and abdomen, hips, legs and feet, arms and hands for signs of injury.<br>

										- Provide care consistent with knowledge and training according to the conditions you find.<br>
										<hr/>

										<h4><b>3 // If the Person Appears Unresponsive:</b></h4>
										<p>Shout to get the person’s attention, using the person’s name if it is known. If there is no response, tap the person’s shoulder (if the person is an adult or child) or the bottom of the person’s foot (if the person is an infant) and shout again, while checking for normal breathing. Check for Responsiveness and breathing for no more than 5-10 seconds.</p>
										<hr/>

										<h4><b> If the person is breathing:</b></h4>
										<p>- Send someone to call 911 or the designated emergency number and obtain an AED and first aid kit.<br>

											- Proceed with gathering information from bystanders using the SAMPLE questions<br>

											- Conduct a head-to-toe check.<br>

											- Roll the person onto his or her side into a recovery position if there are no obvious signs of injury.<br>
											<hr/>

											<h4><b> If the person is NOT breathing: </b></h4>
											<p>- Send someone to call 911 or the designated emergency number and obtain an AED and first aid kit.<br>

												- Ensure that the person is face-up on a firm, flat surface such as the floor or ground.<br>

												- Begin CPR (starting with compressions) or use an AED if one is immediately available, if you are trained in giving CPR and using an AED.<br>

												- Continue administering CPR until the person exhibits signs of life, such as breathing, an AED becomes available, or EMS or trained medical responders arrive on scene.<br>

												Note: End CPR if the scene becomes unsafe or you cannot continue due to exhaustion.<br>
												<hr/>





				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://twitter.com/brenna_nieva" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.instagram.com/brenna_nieva/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/brennanieva/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="http://www.brennanieva.me" class="icon fa-bookmark-o"><span class="label">Website</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Brenna Nieva 2019</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>
