<!DOCTYPE HTML>
<html>
<head>
<title>Save A Life</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="stylesheet" href="pic.css">
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
<style>
img {
	width:350px;
	height:200px;
}

p {
	text-align: center;
}

a {
	text-decoration: none !important;
}
</style>
</head>
<body>
	<!-- Page Wrapper -->
		<div id="page-wrapper">
			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">Save A Life</a></h1>
					<nav id="nav">
						<ul>
							<li class="special">
							<a href="#menu" class="menuToggle"><span>Menu</span></a>
							<div id="menu">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="generic.html">Anatomy</a></li>
							<li><a href="elements.html">First Aid</a></li>
							<li><a href="https://baymax.glitch.me">Baymax</a></li>
							<li><a href="login.html">Admin</a></li>
						</ul>
		</div>
						</ul>
					</nav>
				</header>

	<!-- Main -->
	<article id="main">

		<header>
			<h2>Anatomy</h2>
				<p>
					Three Layers Of The Eye<br><br>
					“Human vision is fallible, but those mistakes that it makes can help us understand that wonderfully complex system”
				</p>
			</header>
			<br>
				<p style="text-transform: uppercase;">The Inner Layer</p>
				<section class="wrapper style5">
					<div class="inner">
						<div class="container">
							<div class="row">

								<div class="col-md-4">
    							<img src="eye/retina.jpg">
									<p>The Retina: Makes up the inner layer of the back of the eyeball</p>
    						</div>

								<div class="col-md-4">
									<img src="eye/cell.jpg">
									<p>The Retina Inner Neural Layer Contains</p>
										<ul>
										<li>Neurons</li>
										<li>Photoreceptors</li>
										<li>Ganglion Neurons</li>
										<li>Forms optic nerve</li>
										<li>Bipolar Neurons</li>
									</ul>
								</div>

								<div class="col-md-4">
									<img src="eye/rod.jpg">
									<p>
										Rods<br>
										Register a grayscale of black and white<br>
										Rule your peripheral vision<br>
										(side vision; what is seen on the side by the eye when looking straight ahead.)<br>
									</p>
								</div>

								<div class="col-md-4">
									<img src="eye/cone.jpg">
									<p>
										Cones<br>
										Detect fine detail and color and can be divided into
										<ul>
										<li>Red-sensitive types</li>
										<li>Green-sensitive types</li>
										<li>Blue-sensitive types</li>
									</ul>
									</p>
								</div>

								<div class="col-md-4">
									<img src="eye/flag.jpg">
									<p>
										Please stare at this flag for 30 seconds<br>
										Then look to the white space on the right of the screen
									</p>
								</div>

						<ul class="actions fit">
							<li><a href="generic.html" class="button fit">Fibrous Layer</a></li>
							<li><a href="vas.html" class="button fit">Vascular Layer</a></li>
							<li><a href="inner.html" class="button special fit">Inner Layer</a></li>
						</ul>
					</div>
					</div>
					</div>
							<p><a href="https://www.youtube.com/watch?v=o0DYP-u1rNM">Information provided from Vision: Crash Course A&P #18</a></p>
				</section>
	</article>

		<!-- Footer -->
			<footer id="footer">

				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>

				<ul class="copyright">
					<li>&copy; Angkana&Brenna All Rights Reserved 2017</li><li></li>
				</ul>

			</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>
